*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(228, 131, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body .calculator{
    background-color: rgb(210, 104, 12);
    height: 500px;
    width: 610px;
    border-radius: 30px;
    padding: 20px;
}
body .calculator .display{
    width: 100%;
    text-align: right;
    border-radius: 10px;
    height: 10%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 100%;
}
body .calculator .buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
body .calculator .buttons .inp{
    height: 70px;
    width: 140px;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    transition: transform 2ms ease-in-out;
    font-weight: bold;
}
.inp:hover{
    transform:scale(0.96);
}
@media(max-width:600px){
    body .calculator{
        width: 100%;
        height: 50%;
    }
    body .calculator .display{
        width: 100%;
    }
    body .calculator .buttons{
        height: 80%;
        width: 100%;
        gap: 12px;
    }
    body .calculator .buttons .inp{
        height: 120%;
        width: 105%;
        font-size: 20px;
    }
}